

h1{
    text-align: center;
}
body{
    background-color: black;
    color: beige;
    text-align: center;
}

.parent
{ 
    width: 100%;
    height: 50%;
    border: solid 1px black;
  display: flex;
  justify-content: center;
  padding: 10px;
  
}


.box img{
    width: 220px;
    height: 260px;
    padding: 10px;
}

.box{
    border: solid 1px black;
    justify-content: center;
    text-align: center;
    height: 50%;
    

}
label{
    border: solid 1px white;
    padding: 1px; 
    background-color: brown;
    padding-bottom: 100 px;
      
}
/* .bo1,.bo3,.bo5{
    background-color: #E57373;
    
}
.bo2,.bo4{
    background-color: aliceblue;
} */